<h1>Write your adventure with <%=@teddy.name%></h1>

<div id="inputs">
  <%= simple_form_for([teddy, stage], remote: true) do |f| %>
    <div id= "first-part">
      <h2>First, tell us more about you</h2>
      <%= f.input :backpacker_name, placeholder: "Your name", label: false %>
      <%= f.input :backpacker_origin, placeholder: "Where do you come from ?", label: false%>
      <%= f.input :backpacker_description, placeholder: 'Who are you ? (in a few words)', label:false %>
      <%= f.input :backpacker_email, placeholder: "Leave your email to communicate with Teddy's owner", label: 'Optionnal' %>
      <%#= f.input :photo %>
      <%#= f.input :photo_cache, as: :hidden %>
      <div class="first-next-btn">
        <i class="fa fa-arrow-down" />
      </div>
    </div>

    <div id= "second-part" class="hide">
      <h2>What's upp with you and <%=teddy.name%></h2>
      <%= f.input :adress, placeholder: 'Where are you ?', label:false %>
      <div class="second-next-btn">
        <i class="fa fa-arrow-down" />
      </div>
    </div>

    <div id= 'third-part' class="hide">
      <h2>Share your story</h2>
      <%#= f.input :title, placeholder: 'Give a title to your stage article', label:false %>
      <%#= f.input :photo %>
      <%#= f.input :photo_cache, as: :hidden %>
      <%= f.submit %>
    </div>

  <% end %>
</div>


