<div class="container text-center">
  <div class="row"> <!--TEDDY PRESENTATION-->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="show-teddies-row-top center-items">
        <div class="show-teddies-row-top-id">
            <div class="show-pic-name">
              <% if @teddy.photos? %>
                <%= cl_image_tag @teddy.photos.first.path, class: "avatar", width: 60, height: 60, crop: :fill %>
              <% else %>
                 <%= image_tag "teddy.png"%>
              <% end %>
              <h1><%= @teddy.name %></h1>
            </div>
            <div class="show-specs">
              <div class="show-user">
                <% if @teddy.photos? %>
                <%= cl_image_tag @teddy.user.photos.first.path, class: "avatar-bordered", width: 40, height: 40, crop: :fill %>
                <% else %>
                   <%= image_tag "user.svg"%>
                <% end %>
                <p><%= @teddy.user.name %></p>
              </div>
              <div class="show-start">
                <%= image_tag "flag.svg" %>
                <p><%= @teddy.origin %></p>
              </div>
              <div class="show-now">
                <%= image_tag "pin.png" %>
                <p><%= @teddy.stages.last.adress %></p>
              </div>
            </div>
            <%= link_to teddy_followers_path(@teddy), class: "follow-button", method: :post do %>
              <%= image_tag "bear_paw.png" %>
              <p>Follow <%= @teddy.name %> !</p>
            <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="row"> <!-- MAP -->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div id="map" style="width: 100%; height: 400px;"></div>
    </div>
  </div>
  <div class="row"> <!-- TRIP TREE -->
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="stage-menu">

          <div class="stage-menu-left">
              <% @stages.reverse.each_with_index do |stage, i| %>
              <% if i.even?  %>
                <div class="card-teddies-show">
                  <div class="car-teddies-title">
                    <div class="teddies-stages-title-menu"><%= cl_image_tag stage.photos.first.path %></div>
                    <div class="barre-horrizontale"></div>
                    <div class="black-spot"></div>
                  </div>
                  <div class="card-teddies-stage-description">
                    <div class="card-teddies-stage-description-details">
                      <p class="card-teddies-date"><%= stage.date.to_date.to_formatted_s(:long_ordinal) %></p>
                      <p class="card-teddies-address text-left"><strong> <%= stage.adress %> </strong></p>
                      <%= link_to "see more", teddy_stage_path(@teddy, stage), class: "card-teddies-link btn btn-primary" %>
                    </div>
                    <div class="card-teddies-stage-description-empty"></div>
                  </div>

                </div>
                <% end %>
              <% end %>

          </div>

        <div class="stage-menu-center"></div>

          <div class="stage-menu-right">
              <div class="empty-div-meny"></div>
              <% @stages.reverse.each_with_index do |stage, i| %>
              <% unless i.even? %>
                <div class="card-teddies-show">
                  <div class="car-teddies-title">
                    <div class="black-spot"></div>
                    <div class="barre-horrizontale"></div>
                    <div class="teddies-stages-title-menu"><%= cl_image_tag stage.photos.first.path %>
                  </div>
                  </div>
                  <div class="card-teddies-stage-description">
                    <div class="card-teddies-stage-description-empty"></div>
                    <div class="card-teddies-stage-description-details">
                      <p class="card-teddies-date"><%= stage.date.to_date.to_formatted_s(:long_ordinal) %></p>
                      <p class="card-teddies-address text-left">
                        <% if stage.city.nil? %>
                          <strong><%= stage.adress %></strong>
                        <% else %>
                          <strong><%= stage.city %>, <%= stage.country%></strong>
                        <% end %>
                      </p>
                      <%= link_to "see more", teddy_stage_path(@teddy, stage), class: "card-teddies-link btn btn-primary" %>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
          </div>

      </div>
        <h3><%= @teddy.name %> history</h3>
     <div class="show-teddies-row-top-id">
        <p><%= @teddy.description %></p>
      </div>
    </div>
    <div class="empty-stage-menu"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: {lat: <%= @last_stage.latitude %>, lng: <%= @last_stage.longitude %>},
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        disableDefaultUI: true,
        scrollwheel: false,
      });

      var image_last = '<%= image_path 'teddypin.png' %>'
      var image_pin = '<%= image_path 'smallpin.png' %>'
      <% @stages.each do |stage| %>
        var marker = new google.maps.Marker({
        position: <%= raw( { lat: stage.latitude, lng: stage.longitude }.to_json) %>,
        map: map,
        <% if stage == @stages.last %>
        icon: image_last,
        <% else %>
        icon: image_pin,
        <% end %>
        });
      <% end %>

      var flightPlanCoordinates = <%= raw(@stages.map { |stage| { lat: stage.latitude, lng: stage.longitude }}.to_json) %>;

      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap(map);
    }

    $(document).ready(function() {
      initMap()
    });
  <% end %>
<% end %>
