<div class="container">
  <div class="col-xs-9">
    <% if current_user.followers.size != 0 %>
      <h2>I follow <strong><%= current_user.followers.size %></strong>
      <% if current_user.followers.size > 1 %>
        teddies
      <% else %>
        teddy
      <% end %></h2>
    <% else %>
      <h2>I don't follow any teddy</h2>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <div class="col-xs-12">
        <div id="map" style="width: 100%; height: 400px;"></div>
      </div>
    </div>

    <% current_user.followers.each do |follower| %>
      <div class="col-xs-12 nopadding">
        <%= link_to teddy_path(follower.teddy), class: "link-to-stage-teddy-dashboard" do %>
        <div class="followed-teddies-card">
          <div class="col-xs-3">
            <div class="info-teddies-followed followed-teddies-photo">
            <% if follower.teddy.stages.last.photos.first %>
              <%= cl_image_tag follower.teddy.stages.last.photos.first.path, class: "image-teddy-dashboard" %>
            <% else %>
              <%= image_tag "profilepic.jpg", class: "image-teddy-dashboard" %>
            <% end %>

            </div>
          </div>
          <div class="col-xs-9">
            <div class="followed-teddies-all">
              <div class="col-xs-12 col-sm-9 nopadding">
                <div class="followed-teddies-info">
                    <ul class= "list-inline">
                      <li> <h2><%= follower.teddy.stages.last.adress %></h2></li>
                      <li><p> - <%= follower.teddy.stages.last.created_at.strftime("%d %b. %Y") %></p></li>
                    </ul>
                    <p><strong><%= follower.teddy.name %></strong> travelled with <strong> <%= follower.teddy.stages.last.backpacker_name %></strong>!</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="followed-teddies-actions">
                  <%= link_to "Unfollow", teddy_follower_path(follower.teddy, follower), method: :delete, class: "btn btn-primary button-following" %>
                </div>
              </div>
            </div>
          </div>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="dasboard-my-teddy-card">
      <% if !current_user.teddy %>
          <h2>Send my own Teddy</h2>
          <%= image_tag "logo.png" %>
          <%= link_to 'new teddy', new_teddy_path, class: "btn btn-primary button-following" %>
      <% else %>
        <h2> <%= current_user.teddy.name %></h2>
        <%= cl_image_tag current_user.teddy.photos.first.path, class: "image-teddy-dashboard" %>
        <% if current_user.teddy.stages.first %>
            <p class= "text-center">On <strong> <%= current_user.teddy.stages.last.date.strftime("%d %b. %Y") %></strong> your teddy was in <strong><%= current_user.teddy.stages.last.adress %></strong>  with <strong> <%= current_user.teddy.stages.last.backpacker_name %></strong></p>
            <%= link_to 'Follow his adventure', teddy_path(current_user.teddy), class: "btn btn-primary button-following" %>
          <% else %>
            <p>Your teddy hasn't left yet</p>
            <%= link_to 'Checkout his profile', teddy_path(current_user.teddy), class: "btn btn-primary button-following" %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<% if current_user.followers.size != 0 %>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: <%= current_user.followers.last.teddy.stages.last.latitude %>, lng: <%= current_user.followers.last.teddy.stages.last.longitude %>},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        var image = '<%= image_path 'teddypin.png' %>'
        <% current_user.followers.each do |follower| %>
          var marker = new google.maps.Marker({
          position: <%= raw( { lat: follower.teddy.stages.last.latitude, lng: follower.teddy.stages.last.longitude }.to_json) %>,
          map: map,
          title: 'Hello World!',
          icon: image
          });
        <% end %>
      }

      $(document).ready(function() {
        initMap()
      });

    <% end %>
  <% end %>
<% end %>

