<div class="container">
  <div class="col-xs-9">
    <% if current_user.followers.size != 0 %>
      <h2>I follow <strong><%= current_user.followers.size %></strong>
      <% if current_user.followers.size > 1 %>
        teddies
      <% else %>
        teddy
      <% end %></h2>
    <% else %>
      <h2>I don't follow any teddy</h2>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="row">
      <div class="col-xs-12">
        <div id="map" style="width: 100%; height: 400px;"></div>
      </div>
    </div>

    <% current_user.followers.each do |follower| %>
      <div class="col-xs-12">
        <div class="followed-teddies-card">
          <div class="col-xs-2">
            <div class="info-teddies-followed followed-teddies-photo text-center">
              <img src="http://lorempixel.com/100/100/cats/1", class= "image-follow">
            </div>
          </div>
          <div class="col-xs-10">
            <div class="followed-teddies-all">
              <div class="col-xs-12 col-sm-9">
                <div class="followed-teddies-info">

                    <ul class= "list-inline">
                      <li> <h2><%= follower.teddy.stages.last.adress %></h2></li>
                      <li><p> - <%= follower.teddy.stages.last.created_at.strftime("%d %b. %Y") %></p></li>
                    </ul>
                    <p><strong><%= follower.teddy.name %></strong> travelled with <strong> <%= follower.teddy.stages.last.backpacker_name %></strong>!</p>


                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="followed-teddies-actions">
                    <div class="btn btn-primary button-following">
                      <%= link_to "See his journey", teddy_stage_path(follower.teddy, follower.teddy.stages.last) %>
                    </div>
                  <div class="btn btn-primary button-following">
                    <%= link_to teddy_follower_path(follower.teddy, follower), method: :delete do %>
                      Unfollow
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="dasboard-my-teddy-card">
      <% if !current_user.teddy %>
        <div class="btn btn-primary">
          <%= link_to 'new teddy', new_teddy_path, class: "bouton-dashboard-create-teddy" %>
        </div>
      <% else %>
        <%= cl_image_tag current_user.teddy.photos.first.path, transformation: [{width: 100, height: 100, gravity: 'face', radius: 'max', crop: 'fill'}]%>
        <%= current_user.teddy.name %>
        On DATE-LAST-STAGES your teddy is at PLACE-LAST-STAGE with BACKPACKER-LAST-SATGE
      <% end %>
    </div>
  </div>
</div>
<% if current_user.followers.size != 0 %>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: <%= current_user.followers.last.teddy.stages.last.latitude %>, lng: <%= current_user.followers.last.teddy.stages.last.longitude %>},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });

        var image = '<%= image_path 'teddypin.png' %>'
        <% current_user.followers.each do |follower| %>
          var marker = new google.maps.Marker({
          position: <%= raw( { lat: follower.teddy.stages.last.latitude, lng: follower.teddy.stages.last.longitude }.to_json) %>,
          map: map,
          title: 'Hello World!',
          icon: image
          });
        <% end %>
      }

      $(document).ready(function() {
        initMap()
      });

    <% end %>
  <% end %>
<% end %>

