<div class="navbar-teddies <%= yield(:navbar_class) %>">
  <!-- Logo -->
  <div class="navbar-teddies-left">
    <%= link_to root_path, class: "navbar-teddies-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
    <h1 class= "hidden-xs">TRAVELLING TEDDIES</h1>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-teddies-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <%= link_to t(".dashboard", default: "Dashboard"), dashboard_path, class: "navbar-teddies-item navbar-teddies-link" %>
      <%= link_to t(".profile", default: "Profile"), new_user_session_path, class: "navbar-teddies-item navbar-teddies-link" %>
      <%= link_to t(".sign_out", default: "Log Out"), destroy_user_session_path, method: :delete, class: "navbar-teddies-item navbar-teddies-link" %>
      <% if current_user.photos? %>
        <%= cl_image_tag current_user.photos.first.path, transformation: [{width: 80, height: 80, gravity: 'face', radius: 'max', crop: :fill}], class: "avatar dropdown-toggle", id: "navbar-catbnb-menu", data: { toggle: "dropdown" }%>
      <% elsif current_user.facebook_picture_url?%>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= cl_image_tag avatar_url, transformation: [{width: 80, height: 80, gravity: 'face', radius: 'max', crop: :fill}], class: "avatar" %>
      <% else %>
        <%= image_tag "logo.png", transformation: [{width: 60, height: 60, gravity: 'face', radius: 'max', crop: 'crop'}], class: "avatar dropdown-toggle", id: "navbar-catbnb-menu", data: { toggle: "dropdown" }%>
      <% end %>

    <% else %>

      <!-- Login text link -->
      <%= link_to "I'm a backpacker", "#", class: "navbar-teddies-item  navbar-teddies-link-big" %>
      <%= link_to t(".about_us", default: "About Us"), "#", class: "navbar-teddies-item navbar-teddies-link" %>
      <%= link_to t(".sign_in", default: "Log In"), new_user_session_path, class: "navbar-teddies-item navbar-teddies-link" %>
      <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-teddies-item navbar-teddies-link" %>


    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-teddies-item hidden-md hidden-lg">
    <ul class="list-inline">
      <% unless user_signed_in? %>
        <li> <%= link_to "I'm a Backpacker", "#", class: "navbar-teddies-item navbar-teddies-link-big navbar-teddies-link-big-mobile" %> </li>
      <% end %>
      <li>
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-teddies-dropdown-menu">
            <% if user_signed_in? %>
             <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to t(".about_us", default: "About Us"), "#", class: "navbar-teddies-item navbar-teddies-link" %>
                </li>
                <li>
                  <%= link_to t(".sign_in", default: "Log In"), new_user_session_path, class: "navbar-teddies-item navbar-teddies-link" %>
                </li>
                <li>
                  <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-teddies-item navbar-teddies-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
  </div>
</div>

