<% content_for(:navbar_class, "navbar-home")%>
<% content_for(:alert_class, "alert-home")%>

<div id="home-map" style="width: 100%; height: 100vh;">
</div>

<div id="map-content-wrapper">
  <div class="map-content text-center">
    <h1><%= image_tag "teddy_marker.png" %><span>Travelling Teddies</span></h1>
    <p>Discover the world through teddies' eyes!</p>
    <%= form_tag '/teddies', method: :get, class: "form-inline" do  %>
      <%= text_field_tag 'address', nil, placeholder: "Teddy name or region", class: "form-control input-lg" %>
      <%= submit_tag "Search", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var mapStyle = [
      {
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.locality",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "administrative.neighborhood",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.business",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "transit",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      }
    ];
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
        internal: { id: 'home-map' },
        provider: {
          zoom:      3,
          center:    new google.maps.LatLng(19.3962401, 68.6019981),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles:    mapStyle,
          disableDefaultUI: true,
          scrollwheel: false,
        }
      },
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
      });
    });
  <% end %>
<% end %>

<div class="home-cards">
  <div class="container text-center">
    <div class="title-featured">
      <%= image_tag "rays-left.png" %>
      <h1>Featured teddies</h1>
      <%= image_tag "rays-right.png" %>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2><%= @teddy_1.name %></h2>
        <div class="home-card">
          <div class="home-card-image-div">
            <%= cl_image_tag @teddy_1.stages.last.photos.first.path, class: 'img-left' %>
          </div>
          <div class="home-desc">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p><span><%= @teddy_1.name %></span> was sent <span>10 months ago</span> by <span><%= @teddy_1.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
            <p>He is now visiting <span><%= @teddy_1.stages.last.adress %></span>! He's been travelling with his good friend <span><%= @teddy_1.stages.last.backpacker_name %></span>.</p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <a href="<%= teddy_path(@teddy_1) %>" class="btn btn-primary hvr-grow">Follow his adventure!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2 style="text-align:right;"><%= @teddy_2.name %></h2>
        <div class="home-card">
          <div class="home-desc">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p><span><%= @teddy_2.name %></span> was sent <span>10 months ago</span> by <span><%= @teddy_2.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
            <p>He is now visiting <span><%= @teddy_2.stages.last.adress %></span>! He's been travelling with his good friend <span><%= @teddy_2.stages.last.backpacker_name %></span>.</p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <a href="<%= teddy_path(@teddy_2) %>" class="btn btn-primary hvr-grow">Follow his adventure!</a>
          </div>
          <div class="home-card-image-div">
            <%= cl_image_tag @teddy_2.stages.last.photos.first.path, class: 'img-right' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2><%= @teddy_1.name %></h2>
        <div class="home-card">
          <div class="home-card-image-div">
            <%= cl_image_tag @teddy_3.stages.last.photos.first.path, class: 'img-left' %>
          </div>
          <div class="home-desc">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p><span><%= @teddy_3.name %></span> was sent <span>10 months ago</span> by <span><%= @teddy_3.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
            <p>He is now visiting <span><%= @teddy_3.stages.last.adress %></span>! He's been travelling with his good friend <span><%= @teddy_3.stages.last.backpacker_name %></span>.</p>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <a href="<%= teddy_path(@teddy_3) %>" class="btn btn-primary hvr-grow">Follow his adventure!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="how-it-works">
  <div class="container text-center">
    <h1>How does it work?</h1>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'teddy.png'%>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'backpack.png'%>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'world.png'%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>You create Teddy's profile</h3>
        <p>Add all the important information about teddy; we need it to find a matching backpacker. Then we'll tell you what you need to give Teddy for the big trip! </p>
      </div>
      <div class="col-xs-4">
        <h3>Teddy finds a travel buddy</h3>
        <p>You will mail Teddy to a nice adventuror that will take him somewhere around the world. They’ll begin their trip together and you will receive messages and updates from your furry friend.</p>
      </div>
      <div class="col-xs-4">
        <h3>Teddy tours the world and meets new friends</h3>
        <p>Teddy will meet new friends who will bring him to other parts of the world, helping you discover the whole globe through the eyes of your little bear!</p>
      </div>
    </div>
  </div>
</div>
<div class="home-gallery text-center">
  <h1>Gallery</h1>
</div>
