<div id="home-map" style="width: 100%; height: calc(100vh - 70px);">
</div>

<div id="map-content-wrapper">
  <div class="map-content text-center">
    <h1>Travelling Teddies</h1>
    <p>Find a Teddy now :)</p>
    <%= form_tag '/teddies', method: :get, class: "form-inline" do  %>
      <%= text_field_tag 'address', nil, placeholder: "Teddy name or region", class: "form-control input-lg" %>
      <%= submit_tag "Search", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var mapStyle = [
      {
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.land_parcel",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "administrative.locality",
        "elementType": "labels",
        "stylers": [
          {
            "visibility": "on"
          }
        ]
      },
      {
        "featureType": "administrative.neighborhood",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.business",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "transit",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      }
    ];
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({
        internal: { id: 'home-map' },
        provider: {
          zoom:      3,
          center:    new google.maps.LatLng(19.3962401, 68.6019981),
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles:    mapStyle,
          disableDefaultUI: true,
          scrollwheel: false,
        }
      },
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);

      });
    });
  <% end %>
<% end %>

<div class="container home-cards">
  <h1 class="text-center">Featured teddies</h1>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-card">
        <%= image_tag "Bozogc.png", class: 'img-left' %>
        <div class="home-desc">
          <h2><%= @teddy_1.name %></h2>
          <p>was sent <span>10 months ago</span> by <span><%= @teddy_3.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
          <p>He is now visiting <span>Bali</span>! He's been travelling with his good friend <span><%= @teddy_3.stages.last.backpacker_name %></span>.</p>
          <div class="btn btn-primary">Follow its adventure!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-card">
        <div class="home-desc text-right">
          <h2><%= @teddy_2.name %></h2>
          <p>was sent <span>10 months ago</span> by <span><%= @teddy_3.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
          <p>He is now visiting <span>Bali</span>! He's been travelling with his good friend <span><%= @teddy_3.stages.last.backpacker_name %></span>.</p>
          <div class="btn btn-primary">Follow its adventure!</div>
        </div>
        <%= image_tag "Bidouroch.png", class: 'img-right' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="home-card">
        <%= image_tag "Bozogc.png", class: 'img-left' %>
        <div class="home-desc">
          <h2><%= @teddy_3.name %></h2>
          <p>was sent <span>10 months ago</span> by <span><%= @teddy_3.user.name %></span> from <span>Aéroport Charles-de-Gaulle</span>.</p>
          <p>He is now visiting <span>Bali</span>! He's been travelling with his good friend <span><%= @teddy_3.stages.last.backpacker_name %></span>.</p>
          <div class="btn btn-primary">Follow its adventure!</div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="how-it-works">
  <div class="container text-center">
    <h1>How does it work?</h1>
    <br>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'teddy.png'%>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'backpack.png'%>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'world.png'%>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>You send Teddy to us</h3>
        <p>Send your very own teddy bear through the mail; we’ll train him for travelling and give him hiking equipment.</p>
      </div>
      <div class="col-xs-4">
        <h3>Teddy finds a travel buddy</h3>
        <p>Teddy will meet a friendly adventuror that will take him somewhere around the world. They’ll begin their trip together and you will receive messages and updates from your furry friend.</p>
      </div>
      <div class="col-xs-4">
        <h3>Teddy tours the world and meets new friends</h3>
        <p>Teddy will meet new friends who will bring him to other parts of the world, helping you discover the whole globe through the eyes of your little bear!</p>
      </div>
    </div>
  </div>
</div>
<div class="home-gallery text-center">
  <h1>Gallery</h1>
</div>
