<div class="banner-stage" style="background-image: linear-gradient(180deg, rgba(247,175,29,0.33) 0%, rgba(50,50,50,0.25) 100%), url(<%= cl_image_path @stage.photos[0].path %>);">
  <div class="container">
    <div class="banner-stage-content">
      <%= link_to teddy_path(@teddy) do %>
      <%= cl_image_tag @teddy.photos.first.path, class: "avatar-stage" %>
      <div class="stage-teddy-card text-left">
      <% end %>
        <h2><%=@teddy.name%></h2>
        <p><%= @stage.teddy.followers.size %> followers - <%= @stage.teddy.stages.size %> stops</p>
      </div>
    </div>
  </div>
</div>

<div class="stage-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="destination">
          <% if @stage.city.nil? %>
            <h3><%=@stage.address%></h3>
          <% else %>
            <h1><%=@stage.city%></h1>
            <h3><%=@stage.country%></h3>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="wiki">
          <% if @stage.city.nil? %>
          <p><%= truncate(@desc, :length => 500)%> <%=link_to "see more", "https://en.wikipedia.org/wiki/#{@stage.country}"%></p>
          <% else %>
          <p><%= truncate(@desc, :length => 500)%> <%=link_to "see more", "https://en.wikipedia.org/wiki/#{@stage.city}"%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container weather">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="weather">
        <%= image_tag 'storm.png' %>
        <p>Stormy</p>
        <%= image_tag 'degree.png'%>
        <p>Hot - 35°C</p>
        <%= image_tag 'night.png'%>
        <p>Night - it's 4AM</p>
      </div>
    </div>
  </div>
</div>

<div class="container stage-content">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6">
      <div class="row">
      <div class="col-xs-12">
        <h3>Album</h3>
      </div>
      </div>
      <div class="stage-gallery">
        <div class="row">
          <div class="col-xs-4">
            <a href="<%= cl_image_path @stage.photos[0].path %>" class="swipebox" title="First picture">
              <%= cl_image_tag @stage.photos[0].path, width: 160, height: 160, crop: :fill %>
            </a>
          </div>
          <div class="col-xs-4">
            <div class="stage-loved">
              <h4><%= image_tag "like.png" %>What I loved</h4>
              <p><%= @stage.crush %></p>
            </div>
          </div>
          <% unless @stage.photos[1].nil? %>
            <div class="col-xs-4">
              <a href="<%= cl_image_path @stage.photos[1].path %>" class="swipebox" title="Second picture">
                <%= cl_image_tag @stage.photos[1].path, width: 160, height: 160, crop: :fill %>
              </a>
            </div>
          <% end %>
        </div>
        <div class="row">
          <% unless @stage.photos[2].nil? %>
            <div class="col-xs-4">
              <a href="<%= cl_image_path @stage.photos[2].path %>" class="swipebox" title="Third picture">
                <%= cl_image_tag @stage.photos[2].path, width: 160, height: 160, crop: :fill %>
              </a>
            </div>
          <% end %>
          <% unless @stage.photos[3].nil? %>
            <div class="col-xs-4">
              <a href="<%= cl_image_path @stage.photos[3].path %>" class="swipebox" title="Fourth picture">
                <%= cl_image_tag @stage.photos[3].path, width: 160, height: 160, crop: :fill %>
              </a>
            </div>
          <% end %>
          <% unless @stage.photos[4].nil? %>
            <div class="col-xs-4">
              <a href="<%= cl_image_path @stage.photos[4].path %>" class="swipebox" title="Fifth picture">
                <%= cl_image_tag @stage.photos[4].path, width: 160, height: 160, crop: :fill %>
              </a>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>The story</h3>
            <p><%=@stage.content%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="stage-backpacker-profile">
        <div class="stage-pic-name">
          <%= image_tag src="http://lorempixel.com/200/200/people/1", class: "avatar"%>
          <div class="stage-name-origin">
            <h4><%= @stage.backpacker_name %></h4>
            <p><%= @stage.backpacker_origin%></p>
          </div>
        </div>
        <hr>
        <p><%= @stage.backpacker_description %></p>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do%>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( '.swipebox' ).swipebox();
    });
  <%end%>
<%end%>
